@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutPage</title>
</head>
<body>
    <h1>Sync View - About</h1>
    <br /><br />
    @Html.ActionLink("Home", "Index")
    @Html.ActionLink("Browse Videos", "VideoBrowser")
    @Html.ActionLink("About Sync View", "AboutPage")
    <br /><br />
    <div>
        <h4>What is Sync View?</h4>
        <p>This website hosts video player with the capacity to synchronize the playback time, as well as
           pauses, with multiple remote users. If someone pauses, rewinds or goes forward, the same thing
           would apply to every user currently watching the video. Sync View is a tool that would be very
           convenient to users such as myself. I have friends with whom I enjoy watching online videos and
           movies. Watching movies with friends online typically requires the delicate process of a countdown
           in the hopes of timing two separate players manually to start at the same time. Sync View eliminates
           the need for manual synchronization. If a user has to stop and buffer their video, due to slow
           internet, repeating the delicate process is unnecessary.</p>
    </div>
</body>
</html>
